extends ../layout-blog

block title
    title Страница для блога

block user-text
    .title.blog-name блог
        svg.svg-title.blog__svg-title
            use(xlink:href='assets/img/sprite.svg#pages--blog--blog_title')
    .user__desc
        | Статьи, которые я написал

block content
    .blog-content
        svg(
        viewbox="0 0 1000 100"
        preserveAspectRatio="none"
        class="triangle blog__triangle blog__triangle--left")
            polygon(points="0,0 0,100 1000,100").triangle.triangle--fill--navajo
        svg(
        viewbox="0 0 1000 100"
        preserveAspectRatio="none"
        class="triangle blog__triangle blog__triangle--right")
            polygon(points="0,100 1000,100 1000,0").triangle.triangle--fill--navajo
        aside.blog-nav
            -var article1 = 'Самое важное в SASS';
            -var article2 = 'Приёмы в верстке, без которых не обходитя ни один сайт';
            -var article3 = 'Самый необходимый набор Gulp плагинов';
            -var article4 = 'Почему я выбрал Pug';
            -var id1 = 'article1';
            -var id2 = 'article2';
            -var id3 = 'article3';
            -var id4 = 'article4';

            mixin link(link, name)
                li.blog-items__item
                    a(href='#'+link class='blog-items__link')= name
            ul.blog-items
                +link(id1, article1)
                +link(id2, article2)
                +link(id3, article3)
                +link(id4, article4)
        section.articles
            article(class='article' id='article1')
                .article__title
                    | Самое важное в SASS
                .article__date
                    | 22 ноября 2017
                p.article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                p.article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                p(data-height="282" data-theme-id="0" data-slug-hash="apLobB" data-default-tab="js" data-user="webxieter" data-embed-version="2" data-pen-title="forms styling" class="codepen") See the Pen
                script(async src="https://production-assets.codepen.io/assets/embed/ei.js")
            article(class='article' id='article2')
                .article__title
                    | Приёмы в верстке, без которых не обходитя ни один сайт
                .article__date
                    | 13 ноября 2016
                p.article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                p.article__text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
